<!DOCTYPE html>
<html>

<head>
  <link rel="shortcut icon" href="img/fave.ico" type="image/x-icon" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header" >
        <a class="navbar-brand" href="#" onclick='unfade(getElementById("posts"));unfade(getElementById("tweets"))'>StatusHub</a>
        <ul class="nav navbar-nav">
          <li><a href="#" onclick='fade(getElementById("posts"));unfade(getElementById("tweets"))'>Twitter</a></li>
          <li><a href="#" onclick='fade(getElementById("tweets"));unfade(getElementById("posts"))'>Facebook</a></li>
        </ul>
      </div>
    </div>
  </div>
	
	<div id='tweets' style="float:left;margin-left:100px;overflow:auto;">

		<h1 class="text-center">Top Ten Tweets</h1>
								
		<% if @tweets != [] %>
 	  	<% num = 0 %>
      <% @tweets[num].each do |tweet| %>
		  	<div style="width:500px;max-width:500px;padding:50px;background:#00aced;">
					
        	<p>Name: <%= "#{tweet[:name]}" %></p>
			  	<p>Link: <%= "#{tweet[:url]}" %></p>
			  	<% num += 1 %>
					
		   	</div>
			<% end %>
		<% else %>
			<% puts "no tweets recieved" %>
		<% end %>
		
	</div>

	<div id='posts' style="margin-left:850px;margin-top:10px;overflow:auto;">

		<h1 class="text-center"style='margin-right:60px;'>Top Ten Posts</h1>
			
			<% num = 0 %>
			<% while num < 21 do %>
				<div style="width:500px;max-width:500px;padding:50px;background:#3b5998;">
						
					<p><%= @pic[num] %></p>
					<p><%= @from[num] %></p>
					<p><%= @cap[num] %></p>
					<p><%= @desc[num] %></p>
					
				</div>
				<% num += 1 %>
			<% end %>
	</div>
	
	<script>
		function fade(element) {
    var op = 1;  // initial opacity
    var timer = setInterval(function () {
        if (op <= 0.1){
            clearInterval(timer);
            element.style.display = 'none';
        }
        element.style.opacity = op;
        element.style.filter = 'alpha(opacity=' + op * 100 + ")";
        op -= op * 0.1;
    }, 50);
}

function unfade(element) {
    var op = 0.1;  // initial opacity
    element.style.display = 'block';
    var timer = setInterval(function () {
        if (op >= 1){
            clearInterval(timer);
        }
        element.style.opacity = op;
        element.style.filter = 'alpha(opacity=' + op * 100 + ")";
        op += op * 0.1;
    }, 10);
}
	</script>
	
</body>

</html>